/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root {
  isolation: isolate;
}

/* Custom styles */
body {
  background: hsl(0deg 0% 10%);
  font-family: sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

#root {
  display: grid;
  place-content: center;
  width: calc(100vw - 50px);
  min-height: 100svh;
  margin-inline: auto;
}

a {
  color: hotpink;
}
svg,
canvas {
  outline: 3px solid red;
}
